<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="gimnasio,repuestos,fabricantes,aparatos,ejercicio,polea,regaton,tope">
        <meta name="description" content="venta de repuestos para aparatos de gimnasios">
        <link rel="shortcut icon" href="/imagenes/LOGOpng.ico" type="image/x-icon">
       
        <link rel="stylesheet" href="/estilos/cabecera.css">
        <link rel="stylesheet" href="/estilos/consulta.css">
        <link rel="stylesheet" href="/estilos/PieDePagina.css">
        <title>Contacto</title>
    </head>
</head>

<body>
    <header id="contenedor">
        <section class="negro">
           <span id="logotel"><img src="/imagenes/logotelefono.png">6555 1234</span>
            <span id="logotel"><img src="/imagenes/logocelular.png" alt="">15 5412 5853</span>
            <span id="logotel"><img src="/imagenes/logosobre.png" alt="">ventas@powerfiness.com</span>
    
        </section>

        <div id="logobar">
        <img id="logo" src="/imagenes/LOGOpng.png" alt="">
        
            <nav class="barra">
                <a href="/index.html">Inicio</a>
                <a href="/index.html">Destacados</a>
                <a href="/templates/Videos.html">Videos</a>
                <a href="/templates/Productos.html">Productos</a>
                <a href="/templates/Consulta.html">Contacto</a>
            </nav>
        </div>        
    </header>
    <section class="principal">
        <img src="/imagenes/portada_powerfull.png" alt="powerfull">
    </section>




    <main>
        <section class="forma">
            <form action="https://formspree.io/f/xyyqogea" method="post">
                <h4>Formulario para envio de consulta</h4>
                <textarea class="comentario" name="comentario" id="comentario" cols="30" rows="10"
                    placeholder="Escriba su consulta"></textarea>
                <input class="control" type="text" name="nombre" id="nombre" placeholder="ingrese su nombre" required>
                <input class="control" type="text" name="apellido" id="apellido" placeholder="ingrese su apellido"
                    required>
                <input class="control" type="email" name="correo" id="correo"
                    placeholder="ingrese su correo electronico" required>
                <input class="boton" type="submit" value="Enviar consulta">
                <p>Se le enviara un correo al encargado para su revision</p>

            </form>
        </section>
    </main>


<footer>
    <div class="Pie">
    <a href="https://www.instagram.com/fitnesspowerfullpfgalvan/" target="_blank"><img  id="iconred" src="/imagenes/instagram.png"></a>
    <a href="https://www.facebook.com/diego.accesori" target="_blank"><img id="iconred" src="/imagenes/facebook.png" alt=""></a>
    <a href="https://web.whatsapp.com/" target="_blank"><img id="iconred" src="/imagenes/whatsapp.png" alt=""></a>

    </div>
</footer>
</body>
</html>