<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="gimnasio,repuestos,fabricantes,aparatos,ejercicio,polea,regaton,tope">
    <meta name="description" content="venta de repuestos para aparatos de gimnasios">
    <link rel="shortcut icon" href="/imagenes/LOGOpng.ico" type="image/x-icon">
    <title>Contacto</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header class="nav">
        <a href="/imagenes/LOGOpng.ico" type="image/x-icon"></a>
        <a href="/index.html">Inicio</a>
        <a href="Destacados.html">Destacados</a>
        <a href="Productos.html">Productos</a>  
        <a href="Contacto.html">Contacto</a>

    </header>
    <main>
        <h1>Contacto</h1>
    </main>
    <footer>
        <h4>Pie de pagina</h4>
    </footer>
    
</body>
</html>