<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="gimnasio,repuestos,fabricantes,aparatos,ejercicio,polea,regaton,tope">
  <meta name="description" content="venta de repuestos para aparatos de gimnasios">
  <link rel="shortcut icon" href="/imagenes/LOGOpng.ico" type="image/x-icon">
  <title>Productos</title>
  <link rel="stylesheet" href="/templates/Productos.css">
  </head>
<body>
    <header id="contenedor">
      <section class="negro">
        <h6>Tel. 6555 1234</h6>
        <h6>Cel. 1139 8765</h6>
        <h6>ventas@powerfiness.com</h6>
      </section>
        <div id="logobar">
        <img id="logo" src="/imagenes/LOGOpng.png" alt="">
        
            <nav class="barra">
                <a href="/index.html">Inicio</a>
                <a href="/templates/Destacados.html">Destacados</a>
                <a href="Productos.html">Productos</a>
                <a href="Contacto.html">Contacto</a>
            </nav>
        </div>        
    </header>
    <main>
        <section class="Titulo">
              <h1>Productos</h1>
          </section>
          <section class="Categorias-wrapper">
            <article>
                <div class="product-image">
                    <img src="/imagenes/Categorías/Disco Bumper Negro 20kg.jpeg" alt="Product Image">
                  </div>
                  <div class="product-info">
                    <h1>Discos</h1>
                    <p>sdas</p>
                  </div>
                  <a href="#" class="add-to-cart">VER</a>
            </article>
            <article>
                <div class="product-image">
                    <img src="/imagenes/Categorías/barras-de-gimnasio-variadas-28-mm.jpg" alt="Product Image">
                  </div>
                  <div class="product-info">
                    <h1>Barras</h1>
                    <p>sdas</p>
                  </div>
                  <a href="#" class="add-to-cart">VER</a>
            </article>
            <article>
                <div class="product-image">
                    <img src="/imagenes/Categorías/mancuernas.jpg" alt="Product Image">
                  </div>
                  <div class="product-info">
                    <h1>Mancuernas</h1>
                    <p>sdas</p>
                  </div>
                  <a href="#" class="add-to-cart">VER</a>
            </article>
            <article>
                <div class="product-image">
                    <img src="/imagenes/Categorías/poleas.jpg" alt="Product Image">
                  </div>
                  <div class="product-info">
                    <h1>Cables y Poleas</h1>
                    <p>sdas</p>
                  </div>
                  <a href="#" class="add-to-cart">VER</a>
              </article>
            <article>
                <div class="product-image">
                    <img src="/imagenes/Categorías/arg-202-51-e6d7aacdb6edf65ebf16256862806087-480-0.jpg" alt="Product Image">
                  </div>
                  <div class="product-info">
                    <h1>Bancos y plataformas</h1>
                    <p>sdas</p>
                  </div>
                  <a href="#" class="add-to-cart">VER</a>
              </article>
              <article>
                <div class="product-image">
                    <img src="/imagenes/Categorías/registros.jpg" alt="Product Image">
                  </div>
                  <div class="product-info">
                    <h1>Registros</h1>
                    <p>sdas</p>
                  </div>
                  <a href="#" class="add-to-cart">VER</a>
              </article>
          </section>
    </main>
     <footer>
        <div class="Pie">
           <a href="">instagram</a> 
           <a href="">facebook</a>
           <a href="">tik tok</a>
        </div>
    </footer>
</body>
</html>