<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="gimnasio,repuestos,fabricantes,aparatos,ejercicio,polea,regaton,tope">
    <meta name="description" content="venta de repuestos para aparatos de gimnasios">
    <link rel="shortcut icon" href="/imagenes/LOGOpng.ico" type="image/x-icon">
    <title>Productos</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <header id="contenedor">
        <div id="logobar">
        <img id="logo" src="/imagenes/LOGOpng.png" alt="">
        
            <nav class="barra">
                <a href="/index.html">Inicio</a>
                <a href="/templates/Destacados.html">Destacados</a>
                <a href="Productos.html">Productos</a>
                <a href="Contacto.html">Contacto</a>
            </nav>
        </div>        
    </header>
    <main>
        <h1>Productos</h1>
    </main>
    <footer>
        <h3>Pie de pagina</h3>
    </footer>
</body>
</html>