<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="gimnasio,repuestos,fabricantes,aparatos,ejercicio,polea,regaton,tope">
        <meta name="description" content="venta de repuestos para aparatos de gimnasios">
        <link rel="shortcut icon" href="/imagenes/LOGOpng.ico" type="image/x-icon">
        <link rel="stylesheet" href="../estilos/encabezado.css">
        <title>Productos</title>
    </head>
</head>

<header id="contenedor">
    <section class="negro">
       <span id="logotel"><img src="/imagenes/logotelefono.png">6555 1234</span>
        <span id="logotel"><img src="/imagenes/logocelular.png" alt="">15 5412 5853</span>
        <span id="logotel"><img src="/imagenes/logosobre.png" alt="">ventas@powerfiness.com</span>

    </section>

    <div id="logobar">
    <img id="logo" src="/imagenes/LOGOpng.png" alt="">
    
        <nav class="barra">
            <a href="../index.html">Inicio</a>
            <a href="Productos.html">Productos</a>
            <a href="Consulta.html">Consultenos</a>
        </nav>
    </div>        
</header>





<body>
    
</body>
</html>