*{
    margin: 0%;
    padding: 0%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}



main{
    background-color:rgba(58, 1, 52, 0.999) ;
    padding-top: 23vh;

}

.videos{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    
   
    background-color:rgba(58, 1, 52, 0.999) ;
}

.videos2{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    padding-top: 3vh;
    padding-bottom: 3vh;
   
    background-color:rgba(58, 1, 52, 0.999) ;

}